@import "../../assets/utils/style/styleVariables.scss";

@mixin navbar-container {
  display: grid;
  grid-template-rows: 3fr 2fr;

  color: white;

  background: $neutral900;
  @media (max-width: 1340px) {
    max-height: 692px;
  }

  .navbar-item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
  }

  .navbar-bottom-text {
    display: flex;
    align-items: center;

    padding: 3rem 0;

    font-size: 0.8rem;
    writing-mode: vertical-lr;

    transform: rotate(180deg);

    @media (max-width: 1340px) {
      padding: 2rem;
    }
  }
}

.navbar-container {
  @include navbar-container;
}
