$primary500: "#ff0101";

$neutral100: "#fbfbfb";
$neutral200: "#dedede";
$neutral400: "#9b9eac";
$neutral500: "#74798c";
$neutral800: "#2b2d30";
$neutral900: "#020203";

$sportsee-red: "#e60000";

.color-primary500 {
  color: $primary500;
}

.color-sportsee-red {
  color: $sportsee-red;
}

.color-neutral100 {
  color: $neutral100;
}

.color-neutral200 {
  color: $neutral200;
}

.color-neutral400 {
  color: $neutral400;
}

.color-neutral500 {
  color: $neutral500;
}

.color-neutral800 {
  color: $neutral800;
}

.color-neutral900 {
  color: $neutral900;
}

.bg-primary500 {
  background-color: $primary500;
}

.bg-sportsee-red {
  background-color: $sportsee-red;
}

.bg-neutral100 {
  background-color: $neutral100;
}

.bg-neutral200 {
  background-color: $neutral200;
}

.bg-neutral400 {
  background-color: $neutral400;
}

.bg-neutral500 {
  background-color: $neutral500;
}

.bg-neutral800 {
  background-color: $neutral800;
}

.bg-neutral900 {
  background-color: $neutral900;
}
